### Question

#### 두 개 학급의 시험성적에 대한 데이터이다 그룹간 등분산 검정을 시행하라

In [1]:
import pandas as pd 
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/scipy/scipy2.csv')
df

    class  score
0       A     84
1       A     59
2       A     49
3       A     57
4       A     82
..    ...    ...
475     B     72
476     B     80
477     B     84
478     B     73
479     B     92

[480 rows x 2 columns]

In [2]:
df['class'].unique()

array(['A', 'B'], dtype=object)

In [3]:
a = df[df['class'] =='A'].score
a

0      84
1      59
2      49
3      57
4      82
       ..
295    78
296    58
297    61
298    41
299    53
Name: score, Length: 300, dtype: int64

In [4]:
b = df[df['class'] =='B'].score
b

300    89
301    37
302    71
303    44
304    93
       ..
475    72
476    80
477    84
478    73
479    92
Name: score, Length: 180, dtype: int64

In [5]:
from scipy.stats import bartlett
print(bartlett(a,b))

BartlettResult(statistic=0.26035880448930865, pvalue=0.609873758447687)

In [6]:
from scipy.stats import fligner

print(fligner(a,b,center='median')) #default
print(fligner(a,b,center='mean'))

FlignerResult(statistic=0.7281251154135562, pvalue=0.39349158741002765)
FlignerResult(statistic=0.8272211734319945, pvalue=0.36307728836821906)

In [7]:
from scipy.stats import levene

print(levene(a,b, center='median')) #default
print(levene(a,b,center='mean'))

LeveneResult(statistic=0.3145466542912649, pvalue=0.5751662820554713)
LeveneResult(statistic=0.5086970687685527, pvalue=0.4760514837800255)

#### 등분산검정의 방법은 3가지가 있다. 
#### pvalue값은 5% 유의수준이라면 0.05보다 작은 경우 "각 그룹은 등분산이다"라는 귀무가설을 기각한다.
#### 위의 결과를 보면 모두 0.05보다 크므로 귀무가설을 기각할수 없음을 알 수 있다.

### Question

#### 두 개 학급의 시험성적에 대한 데이터이다 그룹간 등분산 검정을 시행하라

In [8]:
import pandas as pd 
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/scipy/scipy3.csv')
df

    class  score
0       A     32
1       A     69
2       A     68
3       A     60
4       A     78
..    ...    ...
475     B     60
476     B     56
477     B     56
478     B     52
479     B     77

[480 rows x 2 columns]

In [9]:
df['class'].unique()

array(['A', 'B'], dtype=object)

In [10]:
from scipy.stats import bartlett
from scipy.stats import fligner
from scipy.stats import levene

a = df[df['class'] =='A'].score
b = df[df['class'] =='B'].score

print(bartlett(a,b))

print(fligner(a,b,center='median')) #default
print(fligner(a,b,center='mean')) 

print(levene(a,b, center='median')) #default
print(levene(a,b,center='mean'))

BartlettResult(statistic=1.5116783794562305, pvalue=0.2188831590902503)
FlignerResult(statistic=4.960366756026232, pvalue=0.025934706256615564)
FlignerResult(statistic=4.94724457924667, pvalue=0.026132286002684912)
LeveneResult(statistic=4.307122424591436, pvalue=0.03848734007752694)
LeveneResult(statistic=4.342327020297874, pvalue=0.0377066528874248)

#### bartlett 검정 결과 pvalue는 0.05보다 크다.
#### fligner, levene 검정 결과 pvalue는 0.05보다 작다.

### 해답지 해설
#### fligner, levene는 bartlett보다 좀 더 robust하다는 특징이 있다.
#### 어떤 검정의 결과를 사용해야하는지는 정해지지 않았지만 상황에 따라 특징들을 서술할 수 있다면 문제 없지 않을까...

### Question

#### 두 개 학급의 시험성적에 대한 데이터이다 그룹간 등분산 검정을 시행하라

In [11]:
import pandas as pd 
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/scipy/scipy6.csv')
df

      A   B
0    44  36
1    61  92
2    76  41
3    64  45
4    65  35
..   ..  ..
175  54  48
176  38  62
177  88  47
178  86  68
179  34  82

[180 rows x 2 columns]

In [12]:
from scipy.stats import bartlett
from scipy.stats import fligner
from scipy.stats import levene

a,b = df['A'], df['B']

print('귀무가설 : "등분산이다." vs 대립가설 : "등분산이 아니다."\n\n')
p = bartlett(a,b).pvalue
if p < 0.05:
    print('bartlett 검정 결과 p-value :', p ,'이므로 귀무가설 기각한다.')
    print('          └"등분산이 아니다."\n')
else:
    print('bartlett 검정 결과 p-value :', p ,'이므로 귀무가설 기각하지 않는다.')
    print('          └"등분산이다."\n')
    
p = fligner(a,b).pvalue
if p < 0.05:
    print('fligner 검정 결과 p-value :', p ,'이므로 귀무가설 기각한다.')
    print('          └"등분산이 아니다."\n')
else:
    print('fligner 검정 결과 p-value :', p ,'이므로 귀무가설 기각하지 않는다.')
    print('          └"등분산이다."\n')

p = levene(a,b).pvalue
if p < 0.05:
    print('levene 검정 결과 p-value :', p ,'이므로 귀무가설 기각한다.')
    print('          └"등분산이 아니다."\n')
else:
    print('levene 검정 결과 p-value :', p ,'이므로 귀무가설 기각하지 않는다.')
    print('          └"등분산이다."\n')

귀무가설 : "등분산이다." vs 대립가설 : "등분산이 아니다."


bartlett 검정 결과 p-value : 0.12264468401742169 이므로 귀무가설 기각하지 않는다.
          └"등분산이다."

fligner 검정 결과 p-value : 0.023585858890699054 이므로 귀무가설 기각한다.
          └"등분산이 아니다."

levene 검정 결과 p-value : 0.023868975493455683 이므로 귀무가설 기각한다.
          └"등분산이 아니다."

#### bartlett, fligner 검정 결과 pvalue는 0.05보다 크다.
#### levene 검정 결과 pvalue는 0.05보다 작다.

### Question

#### 두 개 학급의 시험성적에 대한 데이터이다 그룹간 등분산 검정을 시행하라

In [13]:
import pandas as pd 
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/scipy/scipy5.csv')
df

      A     B
0    74  30.0
1    30  59.0
2    35  69.0
3    45  88.0
4    74  68.0
..   ..   ...
295  80   NaN
296  30   NaN
297  91   NaN
298  84   NaN
299  57   NaN

[300 rows x 2 columns]

In [14]:
from scipy.stats import bartlett
from scipy.stats import fligner
from scipy.stats import levene

a,b1,b2 = df['A'], df['B'], df['B'].dropna()

print('귀무가설 : "등분산이다." vs 대립가설 : "등분산이 아니다."\n\n')
p = bartlett(a,b1).pvalue
if p < 0.05:
    print('bartlett 검정 결과 p-value :', p ,'이므로 귀무가설 기각한다.')
    print('          └"등분산이 아니다."\n')
else:
    print('bartlett 검정 결과 p-value :', p ,'이므로 귀무가설 기각하지 않는다.')
    print('          └"등분산이다."\n')
    
p = bartlett(a,b2).pvalue
if p < 0.05:
    print('NaN 제외 bartlett 검정 결과 p-value :', p ,'이므로 귀무가설 기각한다.')
    print('          └"등분산이 아니다."\n')
else:
    print('NaN 제외 bartlett 검정 결과 p-value :', p ,'이므로 귀무가설 기각하지 않는다.')
    print('          └"등분산이다."\n')
    
p = fligner(a,b1).pvalue
if p < 0.05:
    print('fligner 검정 결과 p-value :', p ,'이므로 귀무가설 기각한다.')
    print('          └"등분산이 아니다."\n')
else:
    print('fligner 검정 결과 p-value :', p ,'이므로 귀무가설 기각하지 않는다.')
    print('          └"등분산이다."\n')

p = fligner(a,b2).pvalue
if p < 0.05:
    print('NaN 제외 fligner 검정 결과 p-value :', p ,'이므로 귀무가설 기각한다.')
    print('          └"등분산이 아니다."\n')
else:
    print('NaN 제외 fligner 검정 결과 p-value :', p ,'이므로 귀무가설 기각하지 않는다.')
    print('          └"등분산이다."\n')

p = levene(a,b1).pvalue
if p < 0.05:
    print('levene 검정 결과 p-value :', p ,'이므로 귀무가설 기각한다.')
    print('          └"등분산이 아니다."\n')
else:
    print('levene 검정 결과 p-value :', p ,'이므로 귀무가설 기각하지 않는다.')
    print('          └"등분산이다."\n')
    
p = levene(a,b2).pvalue
if p < 0.05:
    print('NaN 제외 levene 검정 결과 p-value :', p ,'이므로 귀무가설 기각한다.')
    print('          └"등분산이 아니다."\n')
else:
    print('NaN 제외 levene 검정 결과 p-value :', p ,'이므로 귀무가설 기각하지 않는다.')
    print('          └"등분산이다."\n')

귀무가설 : "등분산이다." vs 대립가설 : "등분산이 아니다."


bartlett 검정 결과 p-value : 0.04239774936707851 이므로 귀무가설 기각한다.
          └"등분산이 아니다."

NaN 제외 bartlett 검정 결과 p-value : 0.08203720607748438 이므로 귀무가설 기각하지 않는다.
          └"등분산이다."

fligner 검정 결과 p-value : 5.22112391778621e-83 이므로 귀무가설 기각한다.
          └"등분산이 아니다."

NaN 제외 fligner 검정 결과 p-value : 0.005490600130793619 이므로 귀무가설 기각한다.
          └"등분산이 아니다."

levene 검정 결과 p-value : nan 이므로 귀무가설 기각하지 않는다.
          └"등분산이다."

NaN 제외 levene 검정 결과 p-value : 0.004851565077063284 이므로 귀무가설 기각한다.
          └"등분산이 아니다."

### 해답지 해설
#### bartlett ,fligner 두 검정은 nan값을 지우고 사용해야한다.
#### LeveneResult의 경우 nan값이 포함된다면 연산이 제대로 안된다